.play_again_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_again_container button {
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
}